{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Apply for Leave</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'Student_home' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">Apply for Leave</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <button class="btn btn-info mr-2" data-toggle="modal" data-target=".bd-example-modal-lg">
               <i class="fas fa-history"></i> Leave Apply History
           </button>           
         </div>
      </div>
   </div>
                  
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="{% url 'Student_apply_leave_save' %}">
                  {% csrf_token %}
                  <div class="col-12">
                     <h5 class="form-title"><span>Apply for Leave</span></h5>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Leave Date</label>
                        <input type="date" class="form-control" name="date" required>
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message" placeholder="Message here" required></textarea>
                     </div>
                  </div>
                  <br>
                  <div class="col-12">
                     <button type="submit" class="btn btn-primary">Apply Leave</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Leave Apply History</h5>
      </div>
      
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">{% if student_leave_history %}
               <div class="table-responsive">
                   <table id='table_id' class="table table-hover table-center mb-0">
                       <thead>
                           <tr>
                               <th class="text-center">Date</th>
                               <th class="text-center">Message</th>
                               <th class="text-center">Status</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for i in student_leave_history %}
                               <tr>
                                   <td>{{ i.date }}</td>
                                   <td>{{ i.message }}</td>
                                   <td class="text-center">
                                       <div class="actions">
                                           {% if i.status == 0 %}
                                               <button class="badge badge-info" disabled="disabled"><i class="fas fa-hourglass"></i> Request pending</button>
                                           {% elif i.status == 1 %}
                                               <button class="badge badge-success" disabled="disabled"><i class="fa fa-check"></i> Approved</button>
                                               {% else %}
                                               <button class="badge badge-danger" disabled="disabled">Denied <i class="fa fa-ban"></i></button>
                                           {% endif %}
                                       </div>
                                   </td>
                               </tr>
                           {% endfor %}
                       </tbody>
                   </table>
               </div>
           {% else %}
               <p>No leave history available.</p>
           {% endif %}
           
             </div>
          </div>
       </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>

{% endblock %}
