{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" action="{% url 'add_program' %}" enctype="multipart/form-data">
                {% csrf_token %}
                   <div class="col-12">
                      <h5 class="form-title"><span>Add Program</span></h5>
                   </div>
                   {% include 'includes/messages.html' %}
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Program Name</label>
                         <input type="text" class="form-control" name="name" required>
                      </div>
                   </div>
                 <br>
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Program</button>
                   </div>

             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}
